In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
df=pd.read_csv("data\\athlete_events.csv")
noc=pd.read_csv("data\\noc_regions.csv")
df.sample(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
216923,108931,Niwatana Sesawasdi,M,19.0,155.0,50.0,Thailand,THA,1968 Summer,1968,Summer,Mexico City,Football,Football Men's Football,NaN
45336,23391,"Robert Thomas ""Bob"" Cottingham, Jr.",M,22.0,183.0,48.0,United States,USA,1988 Summer,1988,Summer,Seoul,Fencing,"Fencing Men's Sabre, Team",NaN
53288,27354,Roberto Dellasega,M,19.0,181.0,68.0,Italy,ITA,2010 Winter,2010,Winter,Vancouver,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
110795,56042,Marko Jovanovi,M,20.0,182.0,78.0,Serbia,SRB,2008 Summer,2008,Summer,Beijing,Football,Football Men's Football,NaN
53672,27525,Lucien Demuynck,M,20.0,180.0,69.0,Belgium,BEL,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Men's 800 metres,NaN